# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
.macos/
windows/
linux/

# Symbolication related
app.*.symbols
app.*.map.json

# IDE-related
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Miscellaneous
*.log
*.pyc
*.class
*.swp
.DS_Store

# Android specific
android/app/debug
android/app/profile
android/app/release

# Generated documentation
doc/api/

# Sensitive data
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Credentials
.env

# Problematic file
tore .
