# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
.macos/
windows/
linux/

# Symbolication related
app.*.symbols
app.*.map.json

# IDE-related
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Miscellaneous
*.log
*.pyc
*.class
*.swp
.DS_Store

# Android specific
android/app/debug
android/app/profile
android/app/release

# Generated documentation
doc/api/

# Sensitive data
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Credentials
.env

# Problematic file
tore .

# Flutter-specific
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# iOS-specific
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.symlinks/
ios/build/
ios/Flutter/AppFrameworkInfo.plist
ios/Runner.xcodeproj/

# Android-specific
android/.gradle/
android/app/build/
android/local.properties
android/app/src/debug/google-services.json

# Credentials and sensitive data
.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE-related
.idea/
*.iml
.vscode/

# Miscellaneous
*.log
*.pyc
*.class
*.swp
.DS_Store
